# Dependency directories
node_modules
package-lock.json

# Logs
logs
*.log
npm-debug.log

# Database
*.sql
*.sqlite

# MacOS
*.DS_Store
.DS_Store?
.AppleDouble
.LSOverride

# Thumbnails
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
